.main-chat
  .main-header
    .main-header__info
      .main-header__title
        = @group.name
        .main-header__member
          Member:
          %ul
            - @group.users.each do |user|
              = user.name
      .main-header__edit
        = link_to edit_group_path(@group) do
          Edit

  .main-messages
    = render @messages


  .main-form
    .new-message
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'input-box__text', placeholder:'type a message'
        .message-box
          = f.label :image, class: 'input-box__image' do
            = icon('fas', 'image', class: 'icon')
            =f.file_field :image, class: 'input-box__image-file'
        = f.submit 'Send', class: 'submit-btn'